

.mb-1 {
	border-bottom: 2px solid rgba(200,200,200,.6);
	list-style-type: none;
    margin-bottom: 3%;
    padding-bottom: 4%
}

#sidebar {
    padding: 5%;
    background-color: rgba(200,220,200,.4);
}

.mb-1:nth-of-type(1) {
	margin-top: 5%
}


.load-more {

	display: inline-block;
	text-align: center;
	padding: 1.5%;
	cursor: pointer;
}
.reached-end {

    display: inline-block;
    text-align: center;
    padding: 1.5%;
    cursor:;
}




.is-loading  {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

