

<div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{title}}</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              	<li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        				<li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>

				<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Login</a></li>
                  <li><a href="#">Register</a></li>
                  <li><a href="/blog-add">Create Post</a></li>
                </ul>
              </li>
            </ul>


          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Jumbo -->

      <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <p>
          <a class="btn btn-lg btn-primary"  routerLink="/blog" role="button">{{title}} &raquo;</a>
        </p>
      </div>





    
<router-outlet></router-outlet>


<!-- 

<ul *ngIf="posts.length">
    <h1>Recent Blog Entries</h1>
  <li *ngFor="let post of posts | slice:0:2; let i=index">
    <h2><a routerLink="/blog/{{post.id}}">{{post.title}}</a></h2> 
      <p>{{post.body}}</p>
  </li>


</ul>
 -->
    </div>




	



