<form #f="ngForm" (ngSubmit)="onSubmit()">


<div *ngIf="errorMessage"  class="alert alert-danger" role="alert">
	{{errorMessage}}
</div>


  <div class="form-group">
    <label for="post-title">Post Title</label>
    <input [(ngModel)]="post.title" name="title" type="text" class="form-control" id="post-title"  placeholder="Enter blog title">
  </div>


  <div class="form-group">
    <label for="post-body">Post Body</label>
    <textarea [(ngModel)]="post.body" name="body" class="form-control" id="post-body" rows="6" cols="6" placeholder="Enter blog content"></textarea>
  </div>



    <div class="form-group">
    <label for="post-author">Post Author</label>
    <input [(ngModel)]="post.author" name="author" type="text" class="form-control" id="post-author"  placeholder="Enter blog author">
  </div>
 


  <button type="submit" class="btn btn-primary">Create</button>

</form>

<br>