




<div class="tab-actions">
	<ul class="nav nav-tabs">
	  <li *ngIf="post.id"><a routerLink="/blog/{{post.id}}">View</a></li>
	  <li *ngIf="post.id"><a class="active" routerLink="/blog/{{post.id}}/edit">Edit</a></li>
	  <li *ngIf="post.body"><a routerLink="/blog/{{post.id}}/delete">Delete</a></li>
	  <li *ngIf="!post.id"><a routerLink="/blog-add">Create New Post</a></li>
	</ul>
</div>


<blockquote>
	<h3>{{post.title}}</h3>
	  <div class="post-body" [innerHTML]="post.body"></div>
	  <footer>{{post.author}}  <cite title="{{post.title}}">{{post.date | date:"short"}}</cite></footer>
</blockquote>



<div id="comments">
		<ul>	
			<h2>Comments:</h2>
			<li *ngFor="let comment of comments">
				<h3>{{comment.name}} says: {{comment.title}}</h3>
				<div class="comment-body">
					<p>{{comment.body}}</p>
				</div>
			</li>
		</ul>
</div>


<div class="comment-form">

	<h2>Leave a Comment</h2>
	<app-comment-form [postId]="postId"></app-comment-form>

</div>